 9o9body{ 
  background-image: url('images/bg.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.previous{
  background-color: #126322;
  opacity: 0.8;
  color: white;
  text-decoration: none;
  font-size: 25px;
}

.register_box {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    background-color: #d0f2d0;
    padding: 10px;
}

.register_box h1{
    font-family: "Comic Sans MS", cursive;
    font-size: 45px;
    text-align: center;
}

.container {
    padding: 2px 16px;
    background-color: #ffffff;
    text-align: center;
}

.column {
    float: center;
    width: 20%;
    margin-left: 540px;
    margin-top: 40px;
}

.contact_box {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    background-color: #d0f2d0;
    padding: 30px;
}

input[type=password], input[type=time], input[type=date], input[type=text], select, textarea {
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.btn{
  background-color: #126322;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 15px;
  transition: 0.3s;
  box-shadow: 0 4px #999;
}

.btn:active {
  background-color: #133032;
  box-shadow: 0 5px #444;
  transform: translateY(10px);
}
